@{
        ViewData["Title"] = "About";
}
<div class="container py-2">
    <div class="container d-flex mb-2">
            <div class="about-logo">
                <img class="rounded-circle shadow border border-dark border-2" src="~/images/icons/IMG-20230512-WA0012.jpg" />
            </div>
            <div class="container">
                <div class="heading_container">
                    <h2>Our Story</h2>
                </div>
            </div>
    </div>
    <div class="container">
        <p>
            A Little Source Of Hope was founded by a group of University students who love loving children. There has
            been a trend of donating excess, often unuseable clothing and furniture items to children' homes. This platform
            aims to give South African orphanages what they really need, funds and all hands on deck. We have created a
            marketplace where one can buy and sell secondhand itemns for a good cause as all the proceeds are donated to
            orphanages in Johannesburg. There are also optioins to danate money directly to our listed orphanages and to
            sign up to volunteer. We hope to somehow bring A Little Source Of Hope to all disadvantaged children in
            South Atfica with your help
        </p>
    </div>
    <div class="container d-flex mb-2 mt-3">
        <div class="Vision-icon">
            <img class="rounded-circle shadow border border-primary border-2" src="~/images/icons/IMG-20230511-WA0006.jpg" alt="Vision icon" />
        </div>
        <div class="container">
            <div class="heading_container">
                <h2>Vision</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <p>
            Our vision is to create a meaningful impact in the lives of orphaned children
            in Johannesburg by collecting funds to cover the expenses of orphanages in
            order to help children grow to have a bright future.
        </p>
    </div>
    <div class="container d-flex mb-2 mt-3">
        <div class="Mission-icon">
            <img class="rounded-circle shadow border border-white border-primary" src="~/images/icons/IMG-20230511-WA0005.jpg" alt="Mission icon"/>
        </div>
        <div class="container">
            <div class="heading_container">
                <h2>Mission</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <p>
            Our mission is to collect high-quality donated items and convert them into
            funds by selling them to buyers on the website in order to directly benefit
            orphanages in Johannesburg. Other ways in which our website helps orphanages by
            giving people an option to directly donate cash or to volunteer at children’s homes.
        </p>
    </div>
</div>
