@{
        ViewData["Title"] = "About";
}
<div class="container py-2">
    <div class="container d-flex mb-2">
            <div class="about-logo">
                <img class="rounded-circle shadow border border-dark border-2" src="~/images/icons/IMG-20230512-WA0012.jpg" />
            </div>
            <div class="container">
                <div class="heading_container">
                    <h2>Our Story</h2>
                </div>
            </div>
    </div>
    <div class="container">
        <p>
            Welcome to A Little Source of Hope, your destination for making a big difference in the lives of orphaned children.
            Our online charity shop isn't just a place to shop  it's a place to share, care, and uplift young lives in need.
            In the heart of Johannesburg, countless orphaned children face challenges that are hard to fathom.
            A Little Source of Hope was born from a deep desire to create lasting change and bridge the gap between challenges and opportunities.
            Our platform is more than just a shop it's a platform for transformation.We invite you, our valued customers, to become agents of change.
            Your choices matter whether you decide to donate money, contribute items for sale,make a purchase, or even volunteer your time, you directly impact
            the wellbeing and future prospects of these children.By becoming a part of our community and creating an account on our site,
            you unlock a world of possibilities to make a meaningful impact.
            Explore our services, engage with our cause, and join us in creating a brighter path for these orphaned children.
        </p>
    </div>
    <div class="container d-flex mb-2 mt-3">
        <div class="Vision-icon">
            <img class="rounded-circle shadow border border-primary border-2" src="~/images/icons/IMG-20230511-WA0006.jpg" alt="Vision icon" />
        </div>
        <div class="container">
            <div class="heading_container">
                <h2>Vision</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <p>
            Our vision is to create a meaningful impact in the lives of orphaned children
            in Johannesburg by collecting funds to cover the expenses of orphanages in
            order to help children grow to have a bright future.
        </p>
    </div>
    <div class="container d-flex mb-2 mt-3">
        <div class="Mission-icon">
            <img class="rounded-circle shadow border border-white border-primary" src="~/images/icons/IMG-20230511-WA0005.jpg" alt="Mission icon"/>
        </div>
        <div class="container">
            <div class="heading_container">
                <h2>Mission</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <p>
            Our mission is to collect high-quality donated items and convert them into
            funds by selling them to buyers on the website in order to directly benefit
            orphanages in Johannesburg. Other ways in which our website helps orphanages by
            giving people an option to directly donate cash or to volunteer at children’s homes.
        </p>
    </div>
</div>
