@{
    ViewData["Title"] = "Donate";
}
<div class="container">
    <div class="container my-2">
        <div class="container">
            <div class="heading_container heading_center">
                <h2>Donate items</h2>
            </div>
        </div>
        <div class="text-center">
            <p class="sub_hearder">
                Find your nearest drop-off point
            </p>
            <p class="drop-paragraph">
                You can drop
                off clothing or unwanted toys to one of the 4 University of Johannesburg campuses
                located in the City of Johannesburg.
            </p>
            <div class="donate_subcontainer">
                <h2 class="campus">
                    Aukland Park Kingsway campus
                </h2>
                <p class="location-paragraph">
                    Corner Kingsway and University Road, Auckland Park Johannesburg, 2092.
                </p>

                <h3 class="campus">
                    Aukland Park Bunting Road campus
                </h3>
                <p class="location-paragraph">
                    Corner Bunting and Annet Road, Aukland park Johannesburg, 2092.
                </p>

                <h4 class="campus">
                    Doornfontein campus
                </h4>
                <p class="location-paragraph">
                    55 Beit Street, Doornfontein, Johannesburg, 2028
                </p>

                <h5 class="campus">
                    Soweto campus
                </h5>
                <p class="location-paragraph">
                    326 Chris Hani Road, Pimville Johannesburg, 1808
                </p>
                <div class="container--1">
                    <div class="display--1">
                        <label for="">Select an amount</label>
                        <div class="type">
                            <input type="text">
                            <type></type>
                        </div>
                        <div class="amount--1">
                            <button>R100</button>
                            <button>R250</button>
                            <button>R500</button>
                            <button>R750</button>
                            <button>R1000</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sub-form">
                Please note that all items should be of sufficient quality in order to be processed.
            </div>
        </div>
    </div>
</div>
