@model Orphanage
@{
    ViewData["Title"] = "Edit Orphanage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="sub-title">Edit an Orphanage</h4>
            </div>
            <div class="card-block">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <div class='container'>
                        <div class='form-group'>
                            <label asp-for='OrphanageName' class='form-label'></label>
                            <input asp-for='OrphanageName' class='form-control' aria-required='true' />
                            <span asp-validation-for='OrphanageName' class='text-danger'></span>
                        </div>
                        <div class='form-group'>
                            <label asp-for='CellNumber' class='form-label'></label>
                            <input asp-for='CellNumber' class='form-control' aria-required='true' />
                            <span asp-validation-for='CellNumber' class='text-danger'></span>
                        </div>
                        <div class='form-group'>
                            <label asp-for='AppUserId' class='form-label'></label>
                            <select asp-for='AppUserId' asp-items="Model.Managers" class='form-control'></select>
                            <span asp-validation-for='AppUserId' class='text-danger'></span>
                        </div> 
                        <div class='form-group'>
                            <label asp-for='OrphanageAddress' class='form-label'></label>
                            <input asp-for='OrphanageAddress' class='form-control' aria-required='true' />
                            <span asp-validation-for='OrphanageAddress' class='text-danger'></span>
                        </div>
                    </div>
                    <div class="btn-group ml-3 mb-3">
                        <button type="submit" class="btn btn-primary" id="btn_create">Submit</button>
                        <a asp-action="Index" asp-controller="Orphanage" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
