@model IEnumerable<Orphanage>
@{
    ViewData["Title"] = "Orphanage edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2 class="sub-title"> Edit Orphanages</h2>
    <form>
        <div class="form-group">
            <label for="orphanage-name">Orphanage Name:</label>
            <input type="text" id="orphanage-name" name="orphanage-name" required>
        </div>
        <div class="form-group">
            <label for="manager">Manager:</label>
            <input type="text" id="manager" name="manager" required>
        </div>
        <div class="form-group">
            <label for="cell-phone">Cell Phone:</label>
            <input type="text" id="cell-phone" name="cell-phone" required>
        </div>
        <div class="form-group">
            <label for="email-address">Email Address:</label>
            <input type="email" id="email-address" name="email-address" required>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="email" id="email-address" name="email-address" required>
        </div>
        <div class="btn-group ml-3 mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
    </form>
</div>