<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/images/icons/IMG-20230512-WA0012.jpg" type="" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/css/app.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" href="~/fontAwesomeIcons/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Admin/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="~/css/Admin/icon/icofont/css/icofont.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/A_Little_Source_Of_Hope.styles.css" asp-append-version="true" />
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script>
        $(function () {
            var url = window.location.href;
            $("#navbarSupportedContent a").each(function () {
                if (url == (this.href)) {
                    $(this).closest("li").addClass("active");
                }
            });
        });
    </script>
</head>
<body>
    <header>
            <nav class="navbar navbar-expand-lg custom_nav-container bg-primary p-2 px-5">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home"><img class="rounded-circle shadow border border-dark border-2" width="50" src="~/images/IMG-20230512-WA0012.jpg" alt="logo" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item-nav" id="Home">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                        <li class="nav-item-nav dropdown-nav" id="About">
                            <a class="nav-link dropdownbtn" asp-action="About" asp-controller="Home">About</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="" asp-action="About" asp-controller="Home">Vision & Mission</a>
                                </li>
                                <li>
                                    <a class="" asp-action="Contact" asp-controller="Home">Contact us</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item-nav dropdown-nav" id="Donate">
                            <a class="nav-link dropdownbtn" asp-action="Donate" asp-controller="Home">Get involved</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="" asp-action="Payment" asp-controller="Payments">Donate cash</a>
                                </li>
                                <li>
                                    <a class="" asp-action="Donate" asp-controller="Home">Donate Items</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item-nav" id="Shop">
                            <a class="nav-link" asp-action="MarketPlace" asp-controller="Home">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="ShoppingCart">
                                <i class="fa fa-shopping-cart" aria-hiiden="true"></i>
                            </a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </nav>
    </header>
    @if (ViewData["Title"].ToString() == "Home")
    {
        <section class="slider_section">
            <div class="slider_bg_box">
                <img src="~/images/IMG-20230511-WA0003.jpg" alt="Slider image">
            </div>
            <div class="slider-text">
                <p>
                    Help us give Children a Little Source of Hope
                </p>
            </div>
        </section>
    }
    <div class="container p-2">
        <main role="main">
            <Partial name="_NotificationsPartial" />
            @RenderBody()
        </main>
    </div>
    <footer class="bg-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="full">
                        <div class="logo_footer">
                            <img width="70" class="rounded-circle" src="~/images/IMG-20230512-WA0012.jpg" alt="Logo" />
                        </div>
                        <div class="information_f">
                            <p><strong>ADDRESS:</strong> 28 White tower, DFC, Johannesburg, South Africa</p>
                            <p><strong>TELEPHONE:</strong> +27 66 348 7693</p>
                            <p><strong>EMAIL:</strong> ALittleSourceofHope@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="widget_menu">
                                        <h3>Menu</h3>
                                        <ul>
                                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                                            <li><a asp-action="About" asp-controller="Home">About</a></li>
                                            <li><a asp-action="MarketPlace" asp-controller="Home">Shop</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="widget_menu">
                                        <h3>Account</h3>
                                        <ul>
                                            <li><a asp-action="Login" asp-controller="Account">Login</a></li>
                                            <li><a asp-action="Register" asp-controller="Account">Register</a></li>
                                            <li><a asp-action="Payment" asp-controller="Payments">Cart</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="widget_menu">
                                <h3>Newsletter</h3>
                                <div class="information_f">
                                    <p>Subscribe by our newsletter and get update protidin.</p>
                                </div>
                                <div class="form_sub">
                                    <form asp-action="Newsletter" asp-controller="Home">
                                        <fieldset>
                                            <div class="field">
                                                <input type="email" placeholder="Enter Your Mail" name="email" />
                                                <input type="submit" value="Subscribe" />
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="cpy_">
        <p class="mx-auto">
            © @DateTime.Now.Year All Rights Reserved By A Little Source Of Hope
        </p>
    </div>
    <script type="text/javascript" src="~/js/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
