<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A_Little_Source_Of_Hope</title>
    <link rel="icon" href="https://datapicsblobact.blob.core.windows.net/datapicscontainer1/IMG-20230512-WA0012.jpg" type="" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/fontAwesomeIcons/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/A_Little_Source_Of_Hope.styles.css" asp-append-version="true" />
    <script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div>
        <Partial name="_NotificationsPartial" />
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
