@model Volunteer
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="sub-title">View Applicantion</h4>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <div class="d-flex">
                            <div class="d-flex flex-column mr-1 font-weight-bold">
                                <label asp-for="FullName">Volunteer Full Name:</label><br />
                            </div>
                            <div class="d-flex flex-column font-weight-bold ml-auto">
                                <input asp-for="FullName" class="form-control" />
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex flex-column mr-1 font-weight-bold">
                                <label asp-for="Description">Volunteer Full Name:</label><br />
                            </div>
                            <div class="d-flex flex-column font-weight-bold ml-auto">
                                <input asp-for="Description" class="form-control" />
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex flex-column mr-1 font-weight-bold">
                                <label asp-for="OrphanageName">Volunteer Full Name:</label><br />
                            </div>
                            <div class="d-flex flex-column font-weight-bold ml-auto">
                                <input asp-for="OrphanageName" class="form-control" />
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="d-flex flex-column mr-1 font-weight-bold">
                                <label asp-for="Date">Volunteer Full Name:</label><br />
                            </div>
                            <div class="d-flex flex-column font-weight-bold ml-auto">
                                <input asp-for="Date" class="form-control" />
                            </div>
                        </div>
                        <div class="btn-group ml-3 mb-3">
                            <a asp-action="Approve" asp-controller="Volunteer" asp-route-id="@Model.VoluneerId" class="btn btn-primary btn-Approve">Approve</a>
                            <a asp-action="Reject" asp-controller="Volunteer" asp-route-id="@Model.VoluneerId" class="btn btn-danger btn-Reject">Reject</a>
                            <a asp-action="Index" asp-controller="Volunteer" class="btn btn-secondary">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}