@model Volunteer
@{
    ViewData["Title"] = "Volunteering Application";
}


<div class="form-container">
    <h2 style="text-align: center; font-weight: bold;">Volunteering Application</h2>
    <form method="post" enctype="multipart/form-data">
        <div class='row'>
            <div class='col-sm-6 offset-3'>
                <div class='container'>
                    <div class='form-group'>
                        <label asp-for='Description' class='form-label'></label>
                        <textarea asp-for='Description' class='form-control' aria-required='true'></textarea>
                        <span asp-validation-for='Description' class='text-danger'></span>
                    </div>
                    <div class='form-group'>
                        <label asp-for='VolunteerDate' class='form-label'></label>
                        <input asp-for='VolunteerDate' class='form-control' aria-required='true' />
                        <span asp-validation-for='VolunteerDate' class='text-danger'></span>
                    </div>
                    <div class='form-group'>
                        <label for="orphanageSelect">Orphanage Name</label>

                        <select id="orphanageSelect" name="orphanage">
                            <option value="">Select an orphanage</option>
                            <option value="1">Door of Hope</option>
                            <option value="2">Hearts of Hope</option>
                            <option value="3">The Johannesburg Children's Home</option>
                            <option value="4">Malaika Orphanage</option>
                        </select>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>

