@model Category
@{
    ViewData["Title"] = "Edit category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="sub-title">Edit a Category</h4>
            </div>
            <div class="card-block">
                <form method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="Id" />
                    <div class='row'>
                        <div class='col-sm-6'>
                            <div class='container'>
                                <div class='form-group'>
                                    <label asp-for='CategoryName' class='form-label'></label>
                                    <input asp-for='CategoryName' class='form-control' aria-required='true' />
                                    <span asp-validation-for='CategoryName' class='text-danger'></span>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Select Category</label>
                                    <select id="province" class="form-control">
                                        
                                    </select>
                                    <span class="text-danger"></span>
                                </div>
                                <div class='d-flex m-2'>
                                    <input type='checkbox' id='flexCheckDefault' asp-for='IsActive' />
                                    <label asp-for='IsActive' class='ml-1'></label>
                                </div>
                            </div>
                            <div class="btn-group ml-3 mb-3">
                                <button type="submit" class="btn btn-primary" id="btn_create">Submit</button>
                                <a asp-action="Index" asp-controller="Category" class="btn btn-secondary">Cancel</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="container mb-2" id="container-canvImg">
                                <div class="Category_img_icon_div">
                                    <img class="CategoryImagePreview" src="~/@Model.Imageurl" />
                                </div>
                                <input asp-for="File" type="file" id="CategoryImageInput" multiple="false" accept="Image/*" class="d-none upload_inputfile">
                                <span asp-validation-for="File" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(".Category_img_icon_div").on("click", function () {
        $("#CategoryImageInput").click();
    });
    $("#CategoryImageInput").on("change", function () {
        if ($(this)[0].files[0] != null) {
            $(".CategoryImagePreview").attr("src", URL.createObjectURL($(this)[0].files[0]));
        }
    });
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}