@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}
<div class="container-register">
    <div class="container text-center">
        <img class="rounded-circle shadow border border-dark border-5" src="https://datapicsblobact.blob.core.windows.net/datapicscontainer1/IMG-20230512-WA0012.jpg" width="50" />
        <h1 class="header_label text-center">Register</h1>
    </div>
    <form id="registerForm" method="post" asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input type="text" asp-for="Input.FirstName" class="form-control" placeholder="First name" />
            <label asp-for="Input.FirstName" class="form-label"></label>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" asp-for="Input.LastName" class="form-control" placeholder="Lastname" />
            <label asp-for="Input.LastName" class="form-label"></label>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" asp-for="Input.Email" class="form-control" autocomplete="username" placeholder="Email" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="password" asp-for="Input.Password" autocomplete="new-password" class="form-control" placeholder="Password" />
            <label asp-for="Input.Password" class="form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="password" asp-for="Input.ConfirmPassword" autocomplete="new-password" class="form-control" placeholder="Confirm password" />
            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="text-center mb-2">
            <div class="col-sm-8 offset-2">
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </div>
        </div>
        <div class="text-center">
            Have an account? <a class="a_link" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login here</a>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}